$container-width: 1125px;

//colors
$white: #fff;
$violet: #9f449b;
$light-gray: #777;
$gray: #676767;
$black: #222;

//layout
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/header";
@import "sections/feature";
@import "sections/about";
@import "sections/quote";
@import "sections/team";
@import "sections/experience";
@import "sections/testimonials";
@import "sections/my-style";
@import "sections/portfolio";

//media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";