$container-width: 1125px;

//colors
$white: #fff;
$violet: #9f449b;
$light-gray: #777;
$gray: #676767;
$black: #222;

//layout
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/header";
@import "sections/two";
@import "sections/three";

//media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";