.footer__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title_footer {
	margin-top: 190px;
	height: 114px;
	width: 370px;
}

.footer__info {
	margin-top: 170px;
}

.footer__info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.form {
	width: 530px;
}

.form__input {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 300;
	color:$black;
	font-size: 23px;
	width: 100%;
	border: 1px solid #808080;
	padding: 26px 30px;
	margin-bottom: 40px;
	outline: none;
}

.form__textarea {
	resize: none;
	height: 280px;
}

.form__input::-webkit-input-placeholder {font-family: 'Helvetica Neue LT Std'; color:$black; font-weight: 300; font-size: 23px;}
.form__input::-moz-placeholder          {font-family: 'Helvetica Neue LT Std'; color:$black; font-weight: 300; font-size: 23px;}
.form__input:-moz-placeholder           {font-family: 'Helvetica Neue LT Std'; color:$black; font-weight: 300; font-size: 23px;}
.form__input:-ms-input-placeholder      {font-family: 'Helvetica Neue LT Std'; color:$black; font-weight: 300; font-size: 23px;}
.button__form {
	border: 0;
	padding: 0;
}

.footer__right {
	font-family: 'Helvetica Neue LT Std';
	width: 515px;
}

.footer__text {
	font-weight: 300;
	font-size: 22px;
	line-height: 31px;
	color: #4b4b4b;
}

.footer__address {
	margin-top: 50px;
	font-weight: bold;
	font-size: 28px;
	color: $black;
}

.footer__telephones {
	margin-top: 40px;
	font-weight: bold;
	font-size: 28px;
	color: $black;
}

.footer__tel-link {
	text-decoration: none;
	color: $black;
}

.footer__social-list {
	display: flex;
	margin-top: 70px;
}

.footer__socials-item {
	width: 80px;
	height: 80px;
	border: 1px solid #777;
	border-radius: 50%;
	margin-right: 35px;
	transition: .3s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		border-color: #9f449b;
	}
}

.footer__socials-link {
	display: block;
  height: 100%;
  text-align: center;
  border-radius: 50%;
  padding-top: 23px;
  text-decoration: none;
  font-family: 'titillium_weblight';
  font-size: 46px;
  line-height: 28px;
  color: #222;
  transition: .3s;

  &:hover {
  	background-color: #9f449b;
  }
}

.logo_footer {
	margin: 160px 0 110px;

	.logo__link {
    font-size: 51px;
    color: $gray;
	}
}
