.team__list {
	.owl-dots {
		display: none;
	}
}

.owl-dots {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}

.owl-dot {
	width: 13px;
	height: 13px;
	border: 1px solid #777;
	border-radius: 50%;
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}
}

.owl-dot.active {
	background-color: #777;
}


//scroll-btn

.scroll-btn {
	position: fixed;	
	bottom: -50px;
	right: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid $gray;
	box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
	background: url('../img/icons/arrow-up.png') center center no-repeat;
	background-color: rgba(255, 255, 255, .9);
	z-index: 100;
	transition: .3s;
	cursor: pointer;

	&:hover {
		border-color: $violet;
		background-color: $violet;
	}
}

.scroll-btn__active {
	bottom: 50px;
}



