.testimonials {
	height: 960px;
	background-color: #eee;
}

.testimonials__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonials__top-list {
	display: flex;
	justify-content: space-between;
	margin-top: 160px;
	width: 950px;
}

.testimonials__top-item {
	font-family: 'Helvetica Neue LT Std';
	font-weight: 300;
	text-align: center;
}

.testimonials__top-number {
	font-size: 64px;
	color: $black;
}

.testimonials__top-text {
	color: $light-gray;
}

.testimonials__bottom-list {
	display: flex;
	width: 950px;
	margin-top: 140px;
}

.testimonials__bottom-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonials__bottom-pic {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-color: #aaaaaa;
}

.testimonials__bottom-img {
	position: absolute;
	top: 0;
	left: -9999px;
}

.testimonials__bottom-text,
.testimonials__bottom-author {
	margin-top: 30px;
	font-family: 'Helvetica Neue LT Std';
}

.testimonials__bottom-text {
	font-weight: 300;
	text-align: center;
	font-size: 33px;
	color: #4b4b4b;
}

.testimonials__bottom-author {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	color: $light-gray;
}